.App {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header-container {
  border-bottom: 1px solid #000;
}
.header-logo {
  text-transform: uppercase;
  max-width: 100px;
}
.header-search-wrapper {
  display: flex;
  align-items: center;
}

/* MovieList */

.movieApp .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movieApp ::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}
